/* ------------------------------------------------------------ *\
	timeline
\* ------------------------------------------------------------ */
.timeline {
	position: relative;
	padding-left: 200px;
	list-style-type: none;
	margin-bottom: 0;
	transform-style: preserve-3d;

	@include breakpoint-down(mobile) {
		padding-left: 123px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 11px;
		bottom: -61px;
		left: 187px;
		width: 2px;
		background-image: linear-gradient(180deg, #02efa3 0%, #6489fc 100%);
		transform: translateY(33%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: transform 1.2s ease-out, border-color 1.2s ease-out, border-radius 1.2s ease-out, max-width 1.2s ease-out, max-height 1.2s ease-out, background-color 1.2s ease-out, box-shadow 1.2s ease-out, color 1.2s ease-out, opacity 1.2s ease-out, visibility 1.2s ease-out;

		@include breakpoint-down(mobile) {
			left: 110px;
		}
	}

	h4 {
		position: absolute;
		transform: translateX(-33%);
		right: 100%;
		margin-right: 71px;
		bottom: 0;
		margin-bottom: 0;
		text-align: right;
		white-space: nowrap;
		text-transform: uppercase;
		font-family: $ff-serif;
		font-weight: 400;
		display: block;
		color: transparent;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		@include breakpoint-down(mobile) {
			white-space: normal;
			margin-right: 46px;
		}
	}

	h4 br {
		display: none;

		@include breakpoint-down(mobile) {
			display: block;
		}
	}

	svg {
		margin-left: 23px;
		margin-top: -4px;
	}

	li {
		transform: translateY(33%);
		position: relative;
		padding-left: 15px;
		color: #797d84;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform-style: preserve-3d;
		transition: transform .6s ease-out, border-color .6s ease-out, border-radius .6s ease-out, max-width .6s ease-out, max-height .6s ease-out, background-color .6s ease-out, box-shadow .6s ease-out, color .6s ease-out, opacity .6s ease-out, visibility .6s ease-out;
	}

	li+li {
		margin-top: 24px;
	}

	li:before {
		content: '';
		position: absolute;
		top: 3px;
		left: -21px;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		background-image: linear-gradient(270deg, #02efa3 0%, #6489fc 100%);
		transform: scale(0);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: transform .6s ease-out, border-color .6s ease-out, border-radius .6s ease-out, max-width .6s ease-out, max-height .6s ease-out, background-color .6s ease-out, box-shadow .6s ease-out, color .6s ease-out, opacity .6s ease-out, visibility .6s ease-out;
	}

	li:after {
		content: '';
		position: absolute;
		top: 3px;
		left: -21px;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		background-color: #f7f7f7;
		box-shadow: 0 0 1px 1px #f7f7f7;
		transform: scale(.666666);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: transform .6s ease-out, border-color .6s ease-out, border-radius .6s ease-out, max-width .6s ease-out, max-height .6s ease-out, background-color .6s ease-out, box-shadow .6s ease-out, color .6s ease-out, opacity .6s ease-out, visibility .6s ease-out;
	}

	li.is-current~li:before,
	li.is-current~li:after {
		display: none;
	}
}

/*  animateion state  */
.timeline.aos-animate {
	&:before {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transform: translateY(0);
	}

	li {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transform: translateY(0);
	}

	li.is-animated {
		color: #212325;
	}

	li.is-animated h4 {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		color: #212325;
		transition: transform 0.7s 0.6s ease-out, opacity 0.7s 0.6s ease-out, visibility 0.7s 0.6s ease-out, color 0.9s 0.9s ease-out;
	}

	li.is-animated:before,
	li.is-animated:after {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	li.is-animated:before {
		transform: scale(1);
	}

	li.is-animated:not(.is-current):after {
		background-color: #02efa3;
		box-shadow: 0 0 1px 1px #02efa3;
		transform: scale(1);
		transition: transform .6s .6s ease-out, background-color .6s .6s ease-out, box-shadow .6s .6s ease-out, opacity .6s ease-out, visibility .6s ease-out;
	}
}

/*  timeline--alt  */
.timeline--alt {
	padding-left: 227px;

	@include breakpoint-down(mobile) {
		padding-left: 118px;
	}

	&:before {
		top: 12px;
		left: 184px;
		bottom: 0;

		@include breakpoint-down(mobile) {
			top: 0;
			left: 98px;
		}
	}

	h3 {
		margin-bottom: 34px;

		@include breakpoint-down(mobile) {
			margin-bottom: 24px;
		}
	}

	strong {
		margin-bottom: 29px;
		text-transform: uppercase;
		font-family: $ff-serif;
		display: block;
		font-weight: 400;

		@include breakpoint-down(mobile) {
			margin-bottom: 30px;
		}
	}

	strong:last-child {
		margin-bottom: 0;
	}

	svg {
		margin: 0;
	}

	i {
		position: absolute;
		left: -215px;
		width: 140px;
		top: 7px;
		margin-bottom: 0;
		margin-right: 0;
		text-align: left;
		display: block;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		@include breakpoint-down(mobile) {
			top: 0;
			left: -129px;
			width: 95px;
		}
	}

	li {
		padding-left: 0;
		min-height: 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transform: translateY(0);

		@include breakpoint-down(mobile) {
			min-height: 44px;
		}
	}

	li:before,
	li:after {
		display: none;
	}

	li+li {
		margin-top: 25px;
	}
}

/*  animateion state  */
.timeline--alt.aos-animate {
	li.is-animated i {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		color: #212325;
		transition: transform 0.7s 0.6s ease-out, opacity 0.7s 0.6s ease-out, visibility 0.7s 0.6s ease-out, color 0.9s 0.9s ease-out;
	}
}
